
@{
    Layout = null;
}

<main>
    <div class="container">
        <div class="mail_varification">
            <div class="mail_vari">
                <div class="logo">
                    <a href="#"> <img src="~/Content/Web/images/main_logo.svg" /> </a>
                </div>
                <h2>Thank you for singing up!</h2>
                <h4>Check your email</h4>
                <p>Check your email for a 8-character varification code and type the code below to varify.</p>
                <input type="text" maxlength="9" class="character_box js-count" placeholder="xxxx xxxx" />
                <h5>8-character varification code</h5>
                <a href="#" class="varifyBtn">varify account</a>
            </div>
        </div>
    </div>
</main>