@model Apparent.Model.ProductMaster
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="banner" style="background-image: url(Content/assets/images/banner.png);">

        <h1 class="heading01 fs01"><span>About</span> Us</h1>
    </div>
</div>

<!-- ====================================================================================================
  start sec03
====================================================================================================== -->
<div class="container-fluid">
    <div class="sec03">

        <div class="sec03In mt-0">
            <div class="row align-items-center text-left">
                <div class="col-lg-6 col-md-6 col-12 order-2 order-md-1">
                    <div class="sec01Right">
                        <h4 class="heading04">About Us</h4>
                        <p class="para01">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                            ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.
                        </p>
                        <p class="para01">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                            ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.
                        </p>
                        <a href="#" class="common_btn01 mt-4">See Pricing Plans</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12 order-1 order-md-2">
                    <img src="~/Content/assets/images/globe.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ====================================================================================================
  start weOffer
====================================================================================================== -->
<div class="container-fluid">
    <div class="weOffer">

        <h4 class="heading04">We Offer A Wide Range Of Services To Help You Achieve Your Goals</h4>
        <p class="para01 fs02">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        </p>
        <div class="weOfferIn">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card">
                        <div class="picture01">
                            <img src="~/Content/assets/images/icon03.png" alt="" />
                        </div>
                        <h5 class="heading05">Global Reach</h5>
                        <p class="para01">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                </div>
                <!-- // -->
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card">
                        <div class="picture01">
                            <img src="~/Content/assets/images/icon04.png" alt="" />
                        </div>
                        <h5 class="heading05">Verified Buyers</h5>
                        <p class="para01">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                </div>
                <!-- // -->
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card">
                        <div class="picture01">
                            <img src="~/Content/assets/images/icon05.png" alt="" />
                        </div>
                        <h5 class="heading05">Local Payments</h5>
                        <p class="para01">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut .</p>
                    </div>
                </div>
                <!-- // -->
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card">
                        <div class="picture01">
                            <img src="~/Content/assets/images/icon06.png" alt="" />
                        </div>
                        <h5 class="heading05">Safety</h5>
                        <p class="para01">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                </div>
                <!-- // -->
            </div>
        </div>
    </div>
</div>

<!-- ====================================================================================================
  start joinNow
====================================================================================================== -->
<div class="container-fluid">
    <div class="joinNow">

        <div class="joinNow_in">
            <article>
                <h2 class="heading02">Join Now</h2>
                <p class="para01">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </article>
            <a href="https://my.apparent.software/" class="common_btn01">Sign up</a>
        </div>
    </div>
</div>
