
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="banner" style="background-image: url(Content/assets/images/banner.png);">

        <h1 class="heading01 fs01">Blog</h1>
    </div>
</div>

<!-- ====================================================================================================
  start blog
====================================================================================================== -->

<section class="blog">
    <div class="container-fluid">
        <!-- Swiper -->
        <div class="swiper mySwiper01">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slide_row">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-7 col-12 order-2 order-md-1 mb-0">
                                <div class="slide_row_l">
                                    <h4 class="heading04">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</h4>
                                    <p class="para02">
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                                        dolores et ea rebum.
                                    </p>
                                    <a class="common_btn01 ml-0" href="/blog/blogdetails">Read More</a>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-12 order-1 order-md-2 mb-0">
                                <div class="slide_row_r">
                                    <img src="~/Content/assets/images/blog01.png" class="img-fluid img-responsive" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide_row">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-7 col-12 order-2 order-md-1 mb-0">
                                <div class="slide_row_l">
                                    <h4 class="heading04">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</h4>
                                    <p class="para02">
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                                        dolores et ea rebum.
                                    </p>
                                    <a class="common_btn01 ml-0" href="/blog/blogdetails">Read More</a>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-12 order-1 order-md-2 mb-0">
                                <div class="slide_row_r">
                                    <img src="~/Content/assets/images/blog01.png" class="img-fluid img-responsive" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide_row">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-7 col-12 order-2 order-md-1 mb-0">
                                <div class="slide_row_l">
                                    <h4 class="heading04">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</h4>
                                    <p class="para02">
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                                        dolores et ea rebum.
                                    </p>
                                    <a class="common_btn01 ml-0" href="/blog/blogdetails">Read More</a>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-12 order-1 order-md-2 mb-0">
                                <div class="slide_row_r">
                                    <img src="~/Content/assets/images/blog01.png" class="img-fluid img-responsive" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide_row">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-7 col-12 order-2 order-md-1 mb-0">
                                <div class="slide_row_l">
                                    <h4 class="heading04">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</h4>
                                    <p class="para02">
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                                        dolores et ea rebum.
                                    </p>
                                    <a class="common_btn01 ml-0" href="/blog/blogdetails">Read More</a>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-12 order-1 order-md-2 mb-0">
                                <div class="slide_row_r">
                                    <img src="~/Content/assets/images/blog01.png" class="img-fluid img-responsive" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide_row">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-7 col-12 order-2 order-md-1 mb-0">
                                <div class="slide_row_l">
                                    <h4 class="heading04">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</h4>
                                    <p class="para02">
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                                        dolores et ea rebum.
                                    </p>
                                    <a class="common_btn01 ml-0" href="/blog/blogdetails">Read More</a>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-12 order-1 order-md-2 mb-0">
                                <div class="slide_row_r">
                                    <img src="~/Content/assets/images/blog01.png" class="img-fluid img-responsive" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide_row">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-7 col-12 order-2 order-md-1 mb-0">
                                <div class="slide_row_l">
                                    <h4 class="heading04">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</h4>
                                    <p class="para02">
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                                        dolores et ea rebum.
                                    </p>
                                    <a class="common_btn01 ml-0" href="/blog/blogdetails">Read More</a>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-12 order-1 order-md-2 mb-0">
                                <div class="slide_row_r">
                                    <img src="~/Content/assets/images/blog01.png" class="img-fluid img-responsive" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>*@
    </div>
</section>

<!-- ====================================================================================================
  start blog_panel
====================================================================================================== -->

<section class="blog_panel">
    <div class="container-fluid">
        <div class="mel-nav">
            <ul class="mel-filter-nav mt-0">
                <li class="mel-filter" data-filter="*" style="color: var(--color-blue) !important;">All</li>
                <li class="mel-filter" data-filter=".ui">UI</li>
                <li class="mel-filter" data-filter=".mockups">Mockups</li>
                <li class="mel-filter" data-filter=".designs">Designs</li>
                <li class="mel-filter" data-filter=".plugins">Plugins</li>
            </ul>
        </div>

        <div class="mel-grid">
            <div class="mel-grid-sizer"></div>

            <div class="mel-grid-item ui">
                <div class="mel-item-wrapper">
                    <div class="mel-image-container"><img src="~/Content/assets/images/gallery01.png" alt="" /></div>
                    <div class="mel-content">
                        <h4>Lorem ipsum dolor sit amet, consetetur</h4>
                        <p class="para02">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                        </p>
                        <a href="/blog/blogdetails">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <!-- .grid-item -->

            <div class="mel-grid-item ui">
                <div class="mel-item-wrapper">
                    <div class="mel-image-container"><img src="~/Content/assets/images/gallery02.png" alt="" /></div>
                    <div class="mel-content">
                        <h4>Lorem ipsum dolor sit amet, consetetur</h4>
                        <p class="para02">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                        </p>
                        <a href="/blog/blogdetails">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <!-- .grid-item -->

            <div class="mel-grid-item ui designs">
                <div class="mel-item-wrapper">
                    <div class="mel-image-container"><img src="~/Content/assets/images/gallery03.png" alt="" /></div>
                    <div class="mel-content">
                        <h4>Lorem ipsum dolor sit amet, consetetur</h4>
                        <p class="para02">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                        </p>
                        <a href="/blog/blogdetails">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <!-- .grid-item -->

            <div class="mel-grid-item mockups">
                <div class="mel-item-wrapper">
                    <div class="mel-image-container"><img src="~/Content/assets/images/gallery01.png" alt="" /></div>
                    <div class="mel-content">
                        <h4>Lorem ipsum dolor sit amet, consetetur</h4>
                        <p class="para02">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                        </p>
                        <a href="/blog/blogdetails">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <!-- .grid-item -->

            <div class="mel-grid-item ui plugins">
                <div class="mel-item-wrapper">
                    <div class="mel-image-container"><img src="~/Content/assets/images/gallery02.png" alt="" /></div>
                    <div class="mel-content">
                        <h4>Lorem ipsum dolor sit amet, consetetur</h4>
                        <p class="para02">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                        </p>
                        <a href="/blog/blogdetails">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <!-- .grid-item -->

            <div class="mel-grid-item designs">
                <div class="mel-item-wrapper">
                    <div class="mel-image-container"><img src="~/Content/assets/images/gallery03.png" alt="" /></div>
                    <div class="mel-content">
                        <h4>Lorem ipsum dolor sit amet, consetetur</h4>
                        <p class="para02">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                        </p>
                        <a href="/blog/blogdetails">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <!-- .grid-item -->

            <div class="mel-grid-item ui">
                <div class="mel-item-wrapper">
                    <div class="mel-image-container"><img src="~/Content/assets/images/gallery01.png" alt="" /></div>
                    <div class="mel-content">
                        <h4>Lorem ipsum dolor sit amet, consetetur</h4>
                        <p class="para02">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                        </p>
                        <a href="/blog/blogdetails">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <!-- .grid-item -->

            <div class="mel-grid-item mockups">
                <div class="mel-item-wrapper">
                    <div class="mel-image-container"><img src="~/Content/assets/images/gallery02.png" alt="" /></div>
                    <div class="mel-content">
                        <h4>Lorem ipsum dolor sit amet, consetetur</h4>
                        <p class="para02">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                        </p>
                        <a href="/blog/blogdetails">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <!-- .grid-item -->

            <div class="mel-grid-item mockups">
                <div class="mel-item-wrapper">
                    <div class="mel-image-container"><img src="~/Content/assets/images/gallery03.png" alt="" /></div>
                    <div class="mel-content">
                        <h4>Lorem ipsum dolor sit amet, consetetur</h4>
                        <p class="para02">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                        </p>
                        <a href="/blog/blogdetails">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <!-- .grid-item -->
        </div>
    </div>
</section>

@section Scripts{
    <!-- // swiper js start -->
    <script>
        var swiper = new Swiper(".mySwiper01", {
            slidesPerView: 1,
            spaceBetween: 0,
            loop: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },
            breakpoints: {
                320: {
                    slidesPerView: 1,
                    spaceBetween: 0,
                },
                360: {
                    slidesPerView: 1,
                    spaceBetween: 0,
                },
                375: {
                    slidesPerView: 1,
                    spaceBetween: 0,
                },
                414: {
                    slidesPerView: 1,
                    spaceBetween: 0,
                },
                568: {
                    slidesPerView: 1,
                    spaceBetween: 0,
                },
                767: {
                    slidesPerView: 1,
                    spaceBetween: 0,
                },
                1024: {
                    slidesPerView: 1,
                    spaceBetween: 0,
                },
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
    <!-- // swiper js end -->
    <!-- // isotope gallery start -->
    <script>
        // isotope
        var $grid = $(".mel-grid").isotope({
            itemSelector: ".mel-grid-item",
            columnWidth: ".mel-grid-sizer",
            percentPosition: true,
        });

        // bind filter button click
        $(".mel-filter-nav").on("click", ".mel-filter", function () {
            var filterValue = $(this).attr("data-filter");
            $grid.isotope({ filter: filterValue });
        });

        // change is-checked class on buttons
        $(".mel-filter-nav").each(function (i, buttonGroup) {
            var $buttonGroup = $(buttonGroup);
            $buttonGroup.on("click", ".mel-filter", function () {
                $buttonGroup.find(".is-checked").removeClass("is-checked");
                $(this).addClass("is-checked");
            });
        });
    </script>
    <!-- // isotope gallery end -->}