@model Apparent.Model.ProductMaster
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ====================================================================================================
  start everyoneSec
====================================================================================================== -->

<section class="everyoneSec">
    <div class="container-fluid">
        <h1 class="heading01">Softwares For Everyone</h1>
        <p class="para01">Welcome to Apparent, Software for Everyone! Join our global community to explore, share, and innovate the world of digital tools through easy connections and seamless transactions.</p>
        <a href="https://my.apparent.software/" class="common_btn01">Sign up Now</a>
    </div>
</section>

<!-- ====================================================================================================
  start brandRow
====================================================================================================== -->
<div class="container-fluid" style="background-image: url(Content/assets/images/banner02.png);">
    <div class="brandRow">

        <div class="brandRowIn">
            <div class="row show-grid">
                @for (int s = 0; s < Model.DtProductList.Rows.Count; s++)
                {
                    string image = Model.DtProductList.Rows[s]["ProductIcon"].ToString();
                    <div class="col-sm-6 col-md-4-5 col-lg-1-5">

                        <a href="/Product/Details?ProductId=@Model.DtProductList.Rows[s]["ProductId"].ToString()">
                            <span class="">
                                @Model.DtProductList.Rows[s]["ProductName"].ToString()
                                <div class="brandRow_btm">
                                    <div class="brandRow_btm_pic">
                                        <img src="@image" alt="" />
                                    </div>
                                </div>
                            </span>
                        </a>
                        <div class="shadows"><img src="~/Content/assets/images/shadow.png" alt="" /></div>
                    </div>
                }
            </div>
        </div>
</div>
</div>

<!-- ====================================================================================================
  start buyApparen
====================================================================================================== -->

<section class="buyApparen">
    <div class="container-fluid">
        <h1 class="heading01"><span>Why</span> Buy <span>With Apparent</span></h1>
        <div class="buyApparenIn">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <img src="~/Content/assets/images/pic03.webp" alt="" />
                </div>
                <div class="col-lg-6 col-md-6 col-12 text-left">
                    <div class="buyApparen_right">
                        <h4 class="heading04">For Buyers</h4>
                        <p class="para01">
                            Apparent is a platform that connects you with an innovative range of software solutions from developers worldwide. By choosing Apparent, you gain access to innovative tools designed to enhance productivity and streamline workflows. Our platform facilitates a global ecosystem where software creators and users can interact, fostering discovery and growth. To ensure a convenient and accessible experience for our global user base, Apparent supports a variety of payment methods. We aim to accommodate diverse preferences, offering options that cater to different regions and user comfort levels. Our goal is to provide a seamless transaction process, allowing you to easily acquire the software you want, regardless of your location or preferred payment system.
                        </p>
                        @*<p class="para01">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>*@
                        <a href="#" class="common_btn01 mt-3">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ====================================================================================================
  start sellApparen
====================================================================================================== -->

<section class="buyApparen sellApparen">
    <div class="container-fluid">
        <h1 class="heading01"><span>Why</span> Sell <span>With Apparent</span></h1>
        <div class="buyApparenIn">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12 order-2 order-md-1 text-left mb-0">
                    <div class="buyApparen_left">
                        <h4 class="heading04">For Sellers</h4>
                        <p class="para01">
                            Developers that choose to use Apparent, gain immediate access to a worldwide market of enthusiastic software users. Apparent serves as a powerful connection, linking your innovative creations with a global audience actively seeking cutting-edge solutions. By selling with us, you'll benefit from a streamlined marketplace expertly designed to showcase your work effectively and foster direct engagement with potential customers, leading to exciting growth opportunities. A significant advantage for developers using Apparent is our robust and versatile payment infrastructure. We manage the complexities of global transactions, supporting a wide array of payment methods preferred by users across different regions.
                        </p>
                        <p class="para01">This empowers you to confidently reach customers anywhere in the world without the burden of handling diverse payment systems. Focus on your core strength – building exceptional software – while Apparent ensures you receive your earnings seamlessly and conveniently, regardless of your customers' location</p>
                        <a href="#" class="common_btn01 mt-3">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12 order-1 order-md-2 mb-0">
                    <img src="~/Content/assets/images/pic04.webp" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ====================================================================================================
  start joinNow
====================================================================================================== -->
<div class="container-fluid">
    <div class="joinNow">

        <div class="joinNow_in">
            <article>
                <h2 class="heading02">Join Now</h2>
                <p class="para01" style="color: #070707;">The choices Apparent:   Discover your next favourite software today!</p>
            </article>
            <a href="https://my.apparent.software/" class="common_btn01">Sign up</a>
        </div>
</div>
</div>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
    <script>


        function CategoryProduct(Category) {
            var formData = new FormData();
            formData.append('ProductCategory', Category);
            $.ajax
                ({
                    url: "/Product/TopCategory",
                    type: 'POST',
                    data: formData,
                    async: false,
                    cache: false,
                    contentType: false,

                    processData: false,
                    success: function (respons) {

                        if (respons != null) {
                            $('#categoriesEdit').empty()
                            $(respons).each(function () {
                                $('#categoriesEdit').append(
                                    //                                `<div class="col-sm-6 col-md-4-5 col-lg-1-5">
                                    //    <span class="">
                                    //        <a href="/Product/Details?ProductId=`+ this.ProductId + `"><img src="/Content/Web/ProductLogo/` + (this.ProductIcon != "" ? this.ProductIcon : "defaultimage.jpg") + `" class="img-fluid" alt="" /></a>
                                    //    </span>
                                    //</div>`

                                    `<div class="col-lg-3 col-md-3 col-sm-6 col-12">

                                                            <a href="/Product/Details?ProductId=`+ this.ProductId + `">
                                                                <div class="categories_box" style="background-color: #fff;">
                                                                    <div class="categories_top">
                                                                        <h4 style="color: #000;">`+ this.ProductName + `</h4>

                                                                    </div>
                                                                    <div class="categories_btm">
                                                                        <div class="categories_btm_pic">

                                                                            <img src="` + (this.ProductIcon != "" ? this.ProductIcon : "") + `" class="img-fluid" alt="" />

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </div>`
                                )


                            }


                            )
                        }

                    }
                })
        }
    </script>

}
@if (TempData["NetworkeErrorMSg"] != null && TempData["NetworkeErrorMSg"].ToString() == "Something went wrong, try after some times")
{
    <script>
        swal({
            title: "Oops!",
            text: "Something went wrong, try after some times",
            type: "error"
        });
    </script>
}
