
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="banner" style="background-image: url(Content/assets/images/banner.png);">

        <h1 class="heading01"><span>For</span> Buyers</h1>
</div>
</div>

<!-- ====================================================================================================
  start sec01
====================================================================================================== -->

<div class="container-fluid">
    <div class="sec01 bg-white">

        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <img src="~/Content/assets/images/pic01.png" alt="" />
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="sec01Right">
                    <h4 class="heading04">Sed Ut Perspiciatis <span>Unde Omnis Iste</span> Natus Rror Sit Voluptatem Accusantium Doloremque Laudantium.</h4>
                    <p class="para01">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                        rebum. Stet clita kasd gubergren, no sea takimata sanctus est.
                    </p>
                    <ul>
                        <li>Sed ut perspiciatis unde omnis iste natus</li>
                        <li>Sed ut perspiciatis unde omnis</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum dolor sit amet, consetetur.</li>
                    </ul>
                    <a href="https://my.apparent.software/" class="common_btn01">Sign Up to Join</a>
                </div>
            </div>
        </div>
</div>
</div>

<!-- ====================================================================================================
  start sec02
====================================================================================================== -->
<div class="container-fluid">
    <div class="sec02">

        <div class="sec02Top">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <h2 class="heading02 mb-0">Most Popular Software Categories</h2>
                </div>
                <div class="col-lg-8 col-md-6 col-12">
                    <p class="para02 para04 mb-0">Lorem Ipsum Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy Eirmod Tempor Invidunt Ut Labore Et Dolore Magna Aliquyam Erat, Sed Diam Voluptua.</p>
                </div>
            </div>
        </div>
        <!-- // -->
        <section class="brandRow" style="min-height: auto;">
            <div class="container-fluid">
                <div class="brandRowIn">
                    <div class="row show-grid">
                        @for (int s = 0; s < Model.DtProductList.Rows.Count; s++)
                        {
                            string image = Model.DtProductList.Rows[s]["ProductIcon"].ToString();
                            <div class="col-sm-6 col-md-4-5 col-lg-1-5">

                                <a href="/Product/Details?ProductId=@Model.DtProductList.Rows[s]["ProductId"].ToString()">
                                    <span class="">
                                        @Model.DtProductList.Rows[s]["ProductName"].ToString()
                                        <div class="brandRow_btm">
                                            <div class="brandRow_btm_pic">
                                                <img src="@image" alt="" />
                                            </div>
                                        </div>
                                    </span>
                                </a>
                                <div class="shadows"><img src="~/Content/assets/images/shadow.png" alt="" /></div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
</div>
</div>

<!-- ====================================================================================================
  start sec03
====================================================================================================== -->
<div class="container-fluid">
    <div class="sec03">

        <h2 class="heading02 text-center">Why <span>Choose Us</span>?</h2>
        <div class="sec03In">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12 order-2 order-md-1">
                    <div class="sec01Right">
                        <h4 class="heading04">Sed Ut Perspiciatis <span>Unde Omnis Iste</span></h4>
                        <p class="para01">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                            ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.
                        </p>
                        <p class="para01">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                            ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.
                        </p>
                        <a href="#" class="common_btn01 mt-4">See Pricing Plans</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12 order-1 order-md-2">
                    <img src="~/Content/assets/images/pic02.png" alt="" />
                </div>
            </div>
        </div>
</div>
</div>

<!-- ====================================================================================================
  start sec04
====================================================================================================== -->
<div class="container-fluid" style="background-color: var(--bg-ofblue);">
    <div class="sec04">

        <h2 class="heading02 text-center">We Live by <span>Powerful Values</span></h2>
        <div class="sec04In">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="sec04In_card">
                        <div class="iconBox">
                            <img src="~/Content/assets/images/icon01.png" alt="" />
                        </div>
                        <h4 class="heading04">We Are</h4>
                        <p class="para01">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam</p>
                    </div>
                </div>
                <!-- // -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="sec04In_card">
                        <div class="iconBox">
                            <img src="~/Content/assets/images/icon01.png" alt="" />
                        </div>
                        <h4 class="heading04">We Deep Dive</h4>
                        <p class="para01">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                    </div>
                </div>
                <!-- // -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="sec04In_card">
                        <div class="iconBox">
                            <img src="~/Content/assets/images/icon01.png" alt="" />
                        </div>
                        <h4 class="heading04">We Take</h4>
                        <p class="para01">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam</p>
                    </div>
                </div>
                <!-- // -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="sec04In_card">
                        <div class="iconBox">
                            <img src="~/Content/assets/images/icon01.png" alt="" />
                        </div>
                        <h4 class="heading04">We Value</h4>
                        <p class="para01">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam</p>
                    </div>
                </div>
                <!-- // -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="sec04In_card">
                        <div class="iconBox">
                            <img src="~/Content/assets/images/icon01.png" alt="" />
                        </div>
                        <h4 class="heading04">We Believe</h4>
                        <p class="para01">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam</p>
                    </div>
                </div>
                <!-- // -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="sec04In_card">
                        <div class="iconBox">
                            <img src="~/Content/assets/images/icon01.png" alt="" />
                        </div>
                        <h4 class="heading04">We Say “We”</h4>
                        <p class="para01">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam</p>
                    </div>
                </div>
                <!-- // -->
            </div>
        </div>
</div>
</div>

