
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="banner" style="background-image: url(Content/assets/images/banner.png);">

        <h1 class="heading01"><span>Frequently Asked</span> Questions</h1>
</div>
</div>

<!-- ====================================================================================================
  start faqRow
====================================================================================================== -->

<section class="faqRow">
    <div class="container-fluid">
        <div class="accoRow">
            <div class="accordions-wrapper">
                <div class="accordion">
                    <div class="accordion-header">
                        <h4>What is apparent Pay?</h4>
                        <i class="la la-angle-down accordion-icon"></i>
                    </div>

                    <div class="accordion-body">
                        <p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                            ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet
                        </p>
                    </div>
                </div>
                <!-- // -->
                <div class="accordion">
                    <div class="accordion-header">
                        <h4>Accordion #2</h4>
                        <i class="la la-angle-down accordion-icon"></i>
                    </div>

                    <div class="accordion-body">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet eaque sint distinctio, cupiditate placeat iusto perferendis magnam possimus sapiente! Delectus aspernatur numquam laborum impedit corporis.
                        </p>
                    </div>
                </div>
                <!-- // -->
                <div class="accordion">
                    <div class="accordion-header">
                        <h4>Accordion #3</h4>
                        <i class="la la-angle-down accordion-icon"></i>
                    </div>

                    <div class="accordion-body">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet eaque sint distinctio, cupiditate placeat iusto perferendis magnam possimus sapiente! Delectus aspernatur numquam laborum impedit corporis.
                        </p>
                    </div>
                </div>
                <!-- // -->
                <div class="accordion">
                    <div class="accordion-header">
                        <h4>Accordion #4</h4>
                        <i class="la la-angle-down accordion-icon"></i>
                    </div>

                    <div class="accordion-body">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet eaque sint distinctio, cupiditate placeat iusto perferendis magnam possimus sapiente! Delectus aspernatur numquam laborum impedit corporis.
                        </p>
                    </div>
                </div>
                <!-- // -->
                <div class="accordion">
                    <div class="accordion-header">
                        <h4>Accordion #5</h4>
                        <i class="la la-angle-down accordion-icon"></i>
                    </div>

                    <div class="accordion-body">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet eaque sint distinctio, cupiditate placeat iusto perferendis magnam possimus sapiente! Delectus aspernatur numquam laborum impedit corporis.
                        </p>
                    </div>
                </div>
                <!-- // -->
                <div class="accordion">
                    <div class="accordion-header">
                        <h4>Accordion #6</h4>
                        <i class="la la-angle-down accordion-icon"></i>
                    </div>

                    <div class="accordion-body">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet eaque sint distinctio, cupiditate placeat iusto perferendis magnam possimus sapiente! Delectus aspernatur numquam laborum impedit corporis.
                        </p>
                    </div>
                </div>
                <!-- // -->
                <div class="accordion">
                    <div class="accordion-header">
                        <h4>Accordion #7</h4>
                        <i class="la la-angle-down accordion-icon"></i>
                    </div>

                    <div class="accordion-body">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet eaque sint distinctio, cupiditate placeat iusto perferendis magnam possimus sapiente! Delectus aspernatur numquam laborum impedit corporis.
                        </p>
                    </div>
                </div>
                <!-- // -->
                <div class="accordion">
                    <div class="accordion-header">
                        <h4>Accordion #8</h4>
                        <i class="la la-angle-down accordion-icon"></i>
                    </div>

                    <div class="accordion-body">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet eaque sint distinctio, cupiditate placeat iusto perferendis magnam possimus sapiente! Delectus aspernatur numquam laborum impedit corporis.
                        </p>
                    </div>
                </div>
                <!-- // -->
                <div class="accordion">
                    <div class="accordion-header">
                        <h4>Accordion #9</h4>
                        <i class="la la-angle-down accordion-icon"></i>
                    </div>

                    <div class="accordion-body">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet eaque sint distinctio, cupiditate placeat iusto perferendis magnam possimus sapiente! Delectus aspernatur numquam laborum impedit corporis.
                        </p>
                    </div>
                </div>
                <!-- // -->
                <div class="accordion">
                    <div class="accordion-header">
                        <h4>Accordion #10</h4>
                        <i class="la la-angle-down accordion-icon"></i>
                    </div>

                    <div class="accordion-body">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet eaque sint distinctio, cupiditate placeat iusto perferendis magnam possimus sapiente! Delectus aspernatur numquam laborum impedit corporis.
                        </p>
                    </div>
                </div>
                <!-- // -->
            </div>
        </div>
    </div>
</section>

<script>
        const accordionHeaders = document.querySelectorAll(".accordion-header");

        accordionHeaders[0].parentElement.classList.add("active");
        accordionHeaders[0].nextElementSibling.style.maxHeight = accordionHeaders[0].nextElementSibling.scrollHeight + "px";

        function toggleActiveAccordion(e, header) {
            const activeAccordion = document.querySelector(".accordion.active");
            const clickedAccordion = header.parentElement;
            const accordionBody = header.nextElementSibling;

            if (activeAccordion && activeAccordion != clickedAccordion) {
                activeAccordion.querySelector(".accordion-body").style.maxHeight = 0;
                activeAccordion.classList.remove("active");
            }

            clickedAccordion.classList.toggle("active");

            if (clickedAccordion.classList.contains("active")) {
                accordionBody.style.maxHeight = accordionBody.scrollHeight + "px";
            } else {
                accordionBody.style.maxHeight = 0;
            }
        }

        accordionHeaders.forEach(function (header) {
            header.addEventListener("click", function (event) {
                toggleActiveAccordion(event, header);
            });
        });

        function resizeActiveAccordionBody() {
            const activeAccordionBody = document.querySelector(".accordion.active .accordion-body");
            if (activeAccordionBody) activeAccordionBody.style.maxHeight = activeAccordionBody.scrollHeight + "px";
        }

        window.addEventListener("resize", function () {
            resizeActiveAccordionBody();
        });
</script>