<main class="app-content" id="tabRow">
    <div class="row">

        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="tile padding01 box_height">
                <h4>Total Earnings</h4>
                <div class="tabs_wrapper">
                    <ul class="tabs">
                        <li id="tab1">All time</li>
                        <li class="active" id="tab2">This year</li>
                        <li id="tab3">This week</li>
                    </ul>

                    <div class="tabs_container">
                        <div class="tab_content" data-tab="tab1">1</div>
                        <div class="tab_content active" data-tab="tab2"><h2>$4509.00</h2></div>
                        <div class="tab_content" data-tab="tab3">3</div>
                    </div>
                </div>
                <a href="#" class="tile_btn">View Sales</a>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="tile padding01 box_height">
                <h4>Total Product/Softwares</h4>
                <div class="tabs_wrapper">
                    <ul class="tabs">
                        <li id="tab4">All time</li>
                        <li class="active" id="tab5">This year</li>
                        <li id="tab6">This week</li>
                    </ul>

                    <div class="tabs_container">
                        <div class="tab_content" data-tab="tab4">4</div>
                        <div class="tab_content active" data-tab="tab5"><h2>09</h2></div>
                        <div class="tab_content" data-tab="tab6">6</div>
                    </div>
                </div>
                <a href="#" class="tile_btn">View Products</a>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="tile padding01 box_height">
                <h4>Best Seller</h4>
                <div class="tabs_wrapper">
                    <ul class="tabs">
                        <li id="tab7">All time</li>
                        <li class="active" id="tab8">This year</li>
                        <li id="tab9">This week</li>
                    </ul>

                    <div class="tabs_container">
                        <div class="tab_content" data-tab="tab7">7</div>
                        <div class="tab_content active" data-tab="tab8">
                            <div class="software_card">
                                <div class="software_card_l">
                                    <img src="~/Content/Admin/images/software01.png" alt="" class="img-reponsive img-fluid">
                                </div>
                                <div class="software_card_r">
                                    <p class="text-left">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab_content" data-tab="tab9">9</div>
                    </div>
                </div>
                <a href="#" class="tile_btn">View Product</a>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="tile padding01">
                <h4>Best Seller</h4>
                <div class="tabs_wrapper">
                    <ul class="tabs">
                        <li id="tab10">All time</li>
                        <li class="active" id="tab11">This year</li>
                        <li id="tab12">This week</li>
                    </ul>

                    <div class="tabs_container">
                        <div class="tab_content" data-tab="tab10">7</div>
                        <div class="tab_content active" data-tab="tab11">

                        </div>
                        <div class="tab_content" data-tab="tab12">9</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12" align="right">
            <button type="button" class="save_btn">Save Changes</button>
        </div>
    </div>
  
</main>